
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
      <article class="row no-gutters">
          <div class="col-md-8">
              <div class="image-wrapper float-left pr-3">
                  <img style="position: absolute; left: 0px; top: 0px;"
                  data-init-position="random"
                  data-init-direction="random"
                  data-fade-position="random"
                  data-fade-direction="random"
                  data-width="350"
                  data-height="350"
                  data-particle-gap = "2"
                  data-noise = "20"
                  data-max-width="350"
                  data-max-height="350"
                  src="/assets/imgs/plugins/method-draw-image.svg" class="next-particle"/>
              </div>
              <div class="single-post-content-wrapper p-3">
                  <h1 class="display-4">{{site.data.header.title}}</h1>
                  <p class="lead">{{site.data.header.description}}</p>              
              </div>
          </div>
          <div class="col-md-4">
            <h1 style="font-size: 5rem;">{{site.data.header.date}}</h1>
            {{site.data.header.subtitle}}
          </div>
      </article>
  </div>
  </div>